<body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <p class ="navbar-brand">The Four Nations</p>
      <p class="subtitle">Search For Members by their Nation</p>
    </div>
    <div class="airbender-container">
      <%= image_tag("avatar.jpg", class: "airbender") %>
    </div>
    <p class="subtitle">Search Results</p>
  </nav>
  <section class="search_results">
    <p class'subtitle'>Number of Results: <%= @members.length %>
    <%= @members.each do |member| %>
      <section class='member'>
        <p class='subtitle'><%= member.name %></p>
        <p><%= image_tag(member.photo) if member.photo %></p>
        <p><%= member.affiliation %></p>
        <section class='enemies'>
          <P>Enemies</p>
          <% member.enemies.each do |enemy| %>
            <p><%= enemy %></p>
          <% end %>
        </section>
        <section class='allies'>
          <P>Allies</p>
          <% member.allies.each do |ally| %>
            <p><%= ally %></p>
          <% end %>
        </section>
      </section>
      <br/>
      <br/>
      <br/>
    <% end %>
  </section>
