<body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <p class ="navbar-brand">The Four Nations</p>
      <p class="subtitle">Search For Members by their Nation</p>
    </div>
    <div class="airbender-container">
      <%= image_tag("avatar.jpg", class: "airbender") %>
    </div>
    <p class="subtitle">Search Results</p>
  </nav>
  <section class="search_results">
    <%= @members.each do |member| %>
      <p><%= member.name %></p>
      <p><%= image_tag(member.photo) if member.photo %></p>
      <p><%= member.affiliation %></p>
      <%= member.enemies.each do |enemy| %>

      <% end %>
      <%= member.allies.each do |ally| %>

      <% end %>
    <% end %>
  </section>
